/**** Media ****/

@media print {
	
	#pl-cnt-visible, .pl-cnt-visible, .show-list,.gm-style .gm-style-iw-c{display: block !important;}
	.pl-cmmn-btn, .pl-srch-cnt-info,  .pl-scl-media-icons, .bs-title, .pl-brdcrumb,.pl-star-icon, .pl-angebote, footer, header,  title{display: none !important;}
	 a[href]:after {
    content: none !important;
  }
	span.pl-publish {
    padding-left: 0;
    text-align: center;
    display: block;
	}
	.pl-srh-wrk {
    margin: 20px 0 0;
	}
	.pl-md-heading{padding-top: 20px;}
	.pl-cmmn-cnt-section{padding-top:0;}
	.pl-map-address
	{
		display: block !important;
	}
}